html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-content {
    overflow-y: auto; /* Permitere scroll numai pentru conținut */
    padding: 20px;
}

.table-container {
    overflow-x: auto; /* Permite scroll orizontal pentru tabel */
    margin-bottom: 60px; /* Adăugare spațiu pentru a nu acoperi footer-ul */
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*body {
    display: grid;
    grid-template-rows: auto 1fr auto;*/ /* Header, Content, Footer */
    /*min-height: 100vh;
    margin: 60px;*/
    /*margin-bottom: 60px;*/
/*}

.main-content {
    overflow-y: auto;*/ /* Permite scroll doar în conținutul principal */
    /*padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}*/


@keyframes rainbowBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

body {
    animation: rainbowBackground 30s linear infinite;
    background: linear-gradient(135deg, #ffcccc, #ffccff, #ccccff, #ccffff, #ccffcc, #ffffcc, #ffcc99);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}
