html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.main-content {
    overflow-y: auto; /* Permitere scroll numai pentru conținut */
    padding: 20px;
}

.table-container {
    overflow-x: auto; /* Permite scroll orizontal pentru tabel */
    margin-bottom: 60px; /* Adăugare spațiu pentru a nu acoperi footer-ul */
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*body {
    display: grid;
    grid-template-rows: auto 1fr auto;*/ /* Header, Content, Footer */
    /*min-height: 100vh;
    margin: 60px;*/
    /*margin-bottom: 60px;*/
/*}

.main-content {
    overflow-y: auto;*/ /* Permite scroll doar în conținutul principal */
    /*padding: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}*/


@keyframes rainbowBackground {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 100%;
    }
}

body {
    animation: rainbowBackground 30s linear infinite;
    background: linear-gradient(135deg, #ffcccc, #ffccff, #ccccff, #ccffff, #ccffcc, #ffffcc, #ffcc99);
    background-size: 200% 200%;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
}

.custom-btn {
    border-radius: 25px;
    font-size: 1.2em;
    color: #000; /* Text negru */
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .custom-btn:hover {
        color: #fff; /* Text alb la hover */
    }

/* Primary Button - Light Blue */
.btn-primary {
    background-color: #b3e0ff; /* Light Blue */
    border-color: #b3e0ff;
    color: #000; /* Text negru */
}

    .btn-primary:hover {
        background-color: #80c1ff; /* Darker Blue */
        border-color: #80c1ff;
        color: #fff; /* Text alb la hover */
    }

/* Success Button - Light Green */
.btn-success {
    background-color: #d1f7c4; /* Light Green */
    border-color: #d1f7c4;
    color: #000; /* Text negru */
}

    .btn-success:hover {
        background-color: #a7e589; /* Darker Green */
        border-color: #a7e589;
        color: #fff; /* Text alb la hover */
    }

/* Info Button - Light Cyan */
.btn-info {
    background-color: #b3f0ff; /* Light Cyan */
    border-color: #b3f0ff;
    color: #000; /* Text negru */
}

    .btn-info:hover {
        background-color: #80e1ff; /* Darker Cyan */
        border-color: #80e1ff;
        color: #fff; /* Text alb la hover */
    }

/* Warning Button - Light Yellow */
.btn-warning {
    background-color: #fff4b3; /* Light Yellow */
    border-color: #fff4b3;
    color: #000; /* Text negru */
}

    .btn-warning:hover {
        background-color: #ffe680; /* Darker Yellow */
        border-color: #ffe680;
        color: #fff; /* Text alb la hover */
    }
